* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  align-items: center;
}

.navbar h2 {
  margin: 0;
}

.btn-primary {
  background: #00c6ff;
  color: black;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #00c6ff;
  color: #00c6ff;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero-buttons {
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  width: 260px;
  border-radius: 12px;
}

.auth-box {
  max-width: 360px;
  margin: 120px auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.auth-box button {
  width: 100%;
  margin-top: 10px;
}
